.nav-links
    li {
float: right;
list-style-type:none;
}

li a {
display: block;
color: black;
text-align: center;
padding: 0px 20px;
text-decoration: none;
font-size: 18px;
margin-top: 0%;
}
.nav-bar{
    display: inline;
}


.container{
    text-align:center;
   border: 1px groove whitesmoke;
   position: absolute;
   top: 200px;
   left: 500px;
   padding:40px ;
   border-radius: 5px;
}
.bck{
    border: 1px groove white;
    background-color: black;
    color: white;
    border-radius: 5px;
    width:290px
    }
button{
    width:100px;
    height:30px;
    color:white;
    background-color: black;
    margin-top: 15px;
    
}
    
    

